<ion-header>
  <ion-toolbar>
    <ion-title>
      UNNHorarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ngx-extended-pdf-viewer
  [src]="'../../assets/pdfs/test.pdf'"
  backgroundColor="#ffffff"
  [useBrowserLocale]="true"
  [height]="'750px'"
  [mobileFriendlyZoom]="'150%'"
  [ignoreResponsiveCSS]="false"
  [showSecondaryToolbarButton]="false"
>
</ngx-extended-pdf-viewer>

<ion-card>
  <ion-card-header>
        <ion-chip outline color="primary">
          <ion-icon name="location-sharp"></ion-icon>
          <ion-label>Junín, Bs As</ion-label>
        </ion-chip>
  <ion-item>
    <ion-card-title>SARMIENTO</ion-card-title>
    <ion-button fill="outline" slot="end"
    [routerLink]="'services'"
    routerDirection="forward"
    (click)="presentActionSheet()">Ver horario</ion-button>
  </ion-item>
  </ion-card-header>
  <ion-card-content>
    Sede ubicada entre las calles Sarmiento y Newbery.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
        <ion-chip outline color="primary">
          <ion-icon name="location-sharp"></ion-icon>
          <ion-label>Junín, Bs As</ion-label>
        </ion-chip>
  <ion-item>
    <ion-card-title>RIVADAVIA</ion-card-title>
    <ion-button fill="outline" slot="end"
    [routerLink]="'services'"
    routerDirection="forward"
    (click)="presentActionSheet()">Ver horario</ion-button>
  </ion-item>
  </ion-card-header>
  <ion-card-content>
    Sede ubicada entre las calles Sarmiento y Newbery.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
        <ion-chip outline color="primary">
          <ion-icon name="location-sharp"></ion-icon>
          <ion-label>Pergamino, Bs As</ion-label>
        </ion-chip>
  <ion-item>
    <ion-card-title>ECANA</ion-card-title>
    <ion-button fill="outline" slot="end"
    [routerLink]="'services'"
    routerDirection="forward"
    (click)="presentActionSheet()">Ver horario</ion-button>
  </ion-item>
  </ion-card-header>
  <ion-card-content>
    Sede ubicada entre las calles Sarmiento y Newbery.
  </ion-card-content>
</ion-card>

  <ion-card>
    <ion-card-header>

        <ion-chip outline color="primary">
          <ion-icon name="location-sharp"></ion-icon>
          <ion-label>Pergamino, Bs As</ion-label>
        </ion-chip>
   <ion-item>
      <ion-card-title>MATILDE</ion-card-title>
      <ion-button fill="outline" slot="end"
      [routerLink]="'services'"
      routerDirection="forward" (click)="presentActionSheet()">Ver horario</ion-button>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      Sede ubicada entre las calles Sarmiento y Newbery.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
        <ion-chip outline color="primary">
          <ion-icon name="location-sharp"></ion-icon>
          <ion-label>Pergamino, Bs As</ion-label>
        </ion-chip>
    <ion-item>
      <ion-card-title>MONTEAGUDO</ion-card-title>
      <ion-button fill="outline" slot="end"
      [routerLink]="'services'"
      routerDirection="forward"
      (click)="presentActionSheet()">Ver horario</ion-button>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      Sede ubicada entre las calles Sarmiento y Newbery.
    </ion-card-content>
  </ion-card>





</ion-content>
